
:root{

    --purple-color:#ae1c9a;
    --yellow-color:#FFBB38;
    --white-color : #ffffff ;
    --text-color:#6e6d79;
    --black-color : #000 ;
    --purple-bg1 : #f3e7f1 ;
    --product-bg2 : #f8f8f8 ;

}

.input[type=checkbox]{
    accent-color: var(--purple-color);
}

